[2016-03-12 19:45] jankoslavic opened #1 "DEV: add py2 support"
python v 2.7 not be maintained past 2020 (https://pythonclock.org/). And it is not really in focus of the project; however, if somebody would be prepared to help....

[2016-10-23 18:51] jankoslavic opened #3 "binary reading and writing support"
Adding read/write support for binary data

[2017-02-24 21:53] Chetan21 opened #5 "Error refreshing UFF file"
I have a single UFF file of 1.02 GB and I am unable to read it using pyuff package. Followed the simple steps mentioned by you guys [here].(https://github.com/openmodal/pyuff/blob/master/pyuff%20Showcase.ipynb)

I am getting an error doing this:
`uff_file = pyuff.UFF('data/beam.uff')`

I am not sure where the problem is:
1. Formatting of file is correct/incorrect
2. File is too large (that is my g

[2017-02-25 05:40] jankoslavic commented on #5
If I understand you correctly, already the showcase is not working for you? Which version of Python are you using?

[2017-02-25 22:15] Chetan21 commented on #5
I am using Python version 2.7.7

I am unable to load the UFF file through this command `uff_file = pyuff.UFF('data/beam.uff')`

[2017-02-26 05:40] jankoslavic commented on #5
I am sorry, but Python 2.7 is not supported.

[2017-02-27 18:28] Chetan21 commented on #5
Which version of Python should I use? I have tried Python 3.6.0 and I am stuck with this:

`data = fh.read().decode('ascii')
UnicodeDecodeError: 'ascii' codec can't decode byte 0x86 in position 1066: ordinal not in range(128)`

[2017-02-27 20:01] Chetan21 commented on #5
Ok. My file is in UFF58 bin format. Header of this file contains some text like this:
`\{D‑×þCàG÷CàG÷Cú•ÜCçÈ¨C.— D0fBC˜¹Âºû¤AÙ§<Ãy$ÌÃÑQ†Ãe‰üÃhÍ“ÃÍ`

This is actually the 13th line in the header. No idea what encoding format is this. Is it possible to change the encoding style while reading? Or, any other alternate solution to this problem?

[2017-02-27 20:24] jankoslavic commented on #5
Hi @Chetan21 ! the uff58 binary is currently not supported! I will open an issue with regards to this!

[2017-02-27 20:28] jankoslavic commented on #5
I am reopening this issue; binary should be supported via 58b. Can you provide a simple test case?

[2017-02-27 20:28] Chetan21 commented on #5
README page of this package has these lines:

`This module is part of the www.openmodal.com project and defines an UFF class to manipulate with the UFF (Universal File Format) files.

Read from and write of data-set types 151, 15, 55, **58**, **58b**, 82, 164 is supported.`

[2017-02-27 20:33] Chetan21 commented on #5
I apologize. I am not an expert in such kind of files. I am trying to read data from UFF58 file, convert and use it for data analysis.

In future, if I learn more about it then I shall update it :).

Thanks!

[2017-02-27 20:34] jankoslavic commented on #5
Can you please share (janko.slavic@fs.uni-lj.si) the file you are working on and I will try to see what is going on?

[2017-03-07 11:37] sbtlaarzc opened #6 "BUG: Handling NaN or Inf"
NaN or Inf values should be handled appropriately, i.e. set to 0 or set value.

[2017-03-07 12:09] jankoslavic commented on #6
done (2e6b01f)

[2017-03-07 12:09] #6 closed

[2017-05-30 21:15] mantielero opened #7 "setup.py requiring pyuff"
The file **setup.py** starts with:
`from pyuff import __version__`

I think this line should be removed. Instead, the version should be added manually.

The reason is that if not, python tries to read **pyuff.py** first, which depends on numpy and if not installed, it fails.

[2017-05-30 21:26] mantielero opened #8 "setup.py: not requiring properly numpy"
It should be:
`install_requires=['numpy']`

instead of:
`requires=['numpy']`

[2017-05-31 03:42] jankoslavic commented on #7
Corrected with commit 716e212

[2017-05-31 03:42] #7 closed

[2017-05-31 03:43] jankoslavic commented on #8
Corrected with commit 716e212

[2017-05-31 03:43] #8 closed

[2017-07-05 11:29] duracell013 commented on #5
Hello,

I'm facing the same issue trying to read UFF 58b files with Python 3.6.
It's working fine with UFF58 (ascii).

Thanks in advance for your help!
Stephan

[2017-07-05 17:30] jankoslavic commented on #5
Dear Stephan!
Thank you for sharing. I would need a minimum example to reproduce the error.

[2017-07-09 19:51] jankoslavic commented on #5
Dear @duracell013! Thank you for sharing the files with me; I have added them to the data folder and have also prepared tests. Inside tests folder you can see test_58 where a mixed (binary and ascii) dataset 58 is first written to the measurement.uff and then read. It works fine. Please check it out. @Chetan21 is it working now for you also?

[2017-07-11 14:07] jankoslavic commented on #5
Resolved with commit d061802

[2017-07-11 14:07] #5 closed

[2017-07-11 14:07] jankoslavic commented on #3
Resolved with commit d061802

[2017-07-11 14:07] #3 closed

[2017-12-16 16:36] jankoslavic opened #9 "BUG: if header contains " -1" which is the separator between datasets, the data will not be read accuretelly"
separators are lines starting with `    -1`.  The current implementation separates dataset by searching "    -1" and it can find such text inside header.

The problem would be solved if all separating lines would be long 80 characters. But they are not always (some programs write 6 characters, some 80).

dataset separators are searched in line 367:
`                    ind = data.find(b'    -1',in

[2017-12-26 09:39] matmr commented on #9
We could write an algo that checks all kinds of possible delimiters and then makes a decisions. That's the only way if we want to be able to import any uff file.

[2017-12-26 09:58] jankoslavic commented on #9
The above proposal works fine for ASCII based pyuff (numerical cost is negligible); however, for binary data it is not working. Maybe we can check if the first occurrence of `    -1` is of length 80 and then search such a separator. What do you think?

[2018-04-16 20:02] chsafouane opened #10 "UnicodeDecodeError raised when reading some UFF/UNV files"
Pyuff  outputs this error (see attached image) when trying to read some files(while it works well for some other files with other kind of data). Is there a way to solve this issue?

![capture](https://user-images.githubusercontent.com/31566323/38832089-c28d5216-41c1-11e8-94b4-763ff7bacca8.PNG)

[2018-04-17 03:30] jankoslavic commented on #10
You have probably some non ASCII characters in your file. Please share the file, so I can look into detail.

[2018-04-17 13:52] chsafouane commented on #10
As github doesn't allow file deletion, I've just sent the file to your mail address janko.slavic@gmail.com. Thank you !

[2018-04-17 19:13] jankoslavic commented on #10
I have looked into the file and it does not have a properly closed section (line with "    -1")

[2018-04-17 19:13] #10 closed

[2018-04-19 21:20] mawah opened #11 "KeyError: 'shape' when loading frozen tensorflow model with uff.from_tensorflow_frozen_model()"
Hi folks,

I hope I've come to the right place, as I'm not sure whom to ask about this problem. Feel free to redirect me.

All of the following was done inside of NVIDIA's TensorRT 18.02-py2 docker container, in which I pip installed the tensorflow-gpu 1.7.0 package. I downloaded the TensorFlow models git repo and followed a tf-slim example to retrain a ResNet v1 50 model for a new classification

[2018-04-20 05:21] #11 closed, assigned to nobody

[2018-06-21 20:11] jankoslavic commented on #1
As py 2 will soon be retired, this is not a focus of development.... https://pythonclock.org/

[2018-06-21 20:11] #1 closed

[2018-06-22 07:32] Aashit-Sharma commented on #11
@jankoslavic thanks for the info but how do you resolve this ? I too am getting this error.

[2018-06-22 08:19] Aashit-Sharma commented on #11
@mawah , I am getting the same error. were you able to resolve it ?

[2018-06-22 08:21] jankoslavic commented on #11
this package pyUFF has nothing to do with tensorflow

[2018-06-22 08:22] Aashit-Sharma commented on #11
yeah , I realized that and rectified my comment.
Can't find this error anywhere else

[2018-09-27 12:49] FrederickPurcell opened #15 "Overflow error when loading large uff file"
when loading large uff file (4gb and larger) overflow errors were being raised in the refresh function as the indices of the start and end values (i.e. '-1') were larger then 2**31. This issue is fixed by changing 'dtype=int' to 'dtype=int64' in lines 377 and 390 of pyuff.py. This change should give capacity to deal with larger folders and hopefully not have any downsides?

[2018-09-27 17:44] jankoslavic commented on #15
Thank you @FrederickPurcell this was an easy update! v1.19 is already on pypi.

Upgrade: pip install pyuff --upgrade

[2018-09-27 17:44] #15 closed

[2018-09-28 07:07] nilswagner opened #16 "SyntaxError: Non-ASCII character '\xc5' in file setup.py on line 2, but no encoding declared"
python setup.py develop --install-dir $HOME/local
fails with the above mentioned error message.
Therefore

# -*- coding: utf-8 -*-

should be added to pyuff.py and setup.py

[2018-09-28 07:55] jankoslavic commented on #16
Hi @nilswagner! Which version of python are you using?

[2018-10-01 07:45] jankoslavic commented on #16
I am closing this issue as this should not be a problem with Python 3 where everything is unicode encoded (http://lucumr.pocoo.org/2014/5/12/everything-about-unicode/)

[2018-10-01 07:45] #16 closed

[2018-10-09 15:10] nilswagner opened #17 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xb2 in position 705: ordinal not in range(128)"
pyuff.py", line 1372, in _extract58
split_data = blockData.decode('ascii').splitlines(True)[13:]

[2018-10-09 15:17] nilswagner commented on #17
The problem is caused by a unicode character in the header (see below)
    -1
    58
ref8_1
NONE
24-Mar-17 18:16:12
Record 1 of Dataset no 58
H1 : #  2 / #  1
    4         0    0         0 NONE               0   0 NONE               0   0
         5     12801         1 0.00000e+00  1.95313e-01  0.00000e+00
        18    0    0    0 NONE                 Hz
         1    0    0    0 Frequency Funct

[2018-10-10 07:20] jankoslavic commented on #17
dear @nilswagner please check the last commit if it works with your data; I have made the necessary changes and all the test have passed. Please confirm it works also for you. You can also provide me with a test file snipped and I will include it in the test list

[2018-10-10 09:31] nilswagner commented on #17
Dear Janko,
Your last commit doesn't resolve the issue.
    split_data = blockData.decode('utf-8').splitlines(True)[13:]
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb2 in position 705: invalid start byte
[janko.txt](https://github.com/openmodal/pyuff/files/2464044/janko.txt)

[2018-10-11 08:04] jankoslavic commented on #17
Thank you @nilswagner for the feedback. Will try to get to this ASAP

[2018-10-13 20:30] jankoslavic commented on #17
Dear @nilswagner I have added the test file; few additional changes were needed. The tests are passing. I ask you to double-check the implementation.

[2018-10-15 12:38] nilswagner commented on #17
Great. Works fine for me.
Thank you very much!

[2018-10-15 12:38] #17 closed

[2018-10-15 18:14] jankoslavic commented on #17
The version 1.20 is now also on pypi

[2018-10-23 06:45] PapaTim68 opened #18 "TypeError during writing of 58 datasets"
I encountered an TypeError: not all arguments converted during string formatting
while using the pyuff module and writing 58 datasets. Here is the full Traceback:
[code]
I also might have a solution for the problem. I made use of the new python string Formatting and replaced line 993. Which was like so : `fh.write((''.join(fmt[remVals]) + '\n') % tuple(data[4 * n4Blocks:]))`
with the following `fh

[2018-10-23 06:58] jankoslavic commented on #18
Hi @PapaTim68 please provide a snippet example uff file and I will add it to the tests (including your proposed solution)

[2018-10-23 07:07] PapaTim68 commented on #18
I would like to give you an Examble to use but I am not allowed to give away the data used and since I am not 100% sure what caused the bug I cant make a Dummy file which causes the same Problem. I will look what I can do.

[2018-10-26 05:37] jankoslavic commented on #18
I am closing this issue; @PapaTim68 if you send me a snippet file with the problem, I can look into details.

[2018-10-26 05:37] #18 closed

[2018-11-12 13:45] dsholes opened #20 "ValueError during `UFF.read_sets()` (type 58) when last line of set contains trailing space characters"
I have a .uff file with multiple sets. The last line of certain sets contains space characters:
[code]
Thus, line 1372 of pyuff fails with a ValueError because it's failing to convert these space characters to a float:
`values.extend([float(line[13 * i:13 * (i + 1)]) for i in range(len(line) // 13)])`

I'm currently using this as a temporary fix:
[code]
But I wanted to alert you to the issue and a

[2018-11-12 13:46] jankoslavic commented on #20
please provide a snippet test file and I will take a look

[2018-11-12 14:00] dsholes commented on #20
Thanks for the quick response. Let me know if you need anything else:
[test_snippet.zip](https://github.com/openmodal/pyuff/files/2572161/test_snippet.zip)

[2018-11-12 20:18] jankoslavic commented on #20
Hi @dsholes I have looked into the details now. This file does not look like a good test case/example. The line should not end with spaces. Further, there are two additional issue with this file: the `Function Type` is "unknown or general" and the and the `data case` is 2 which means that single precision is used for all data. This is very inaccurate and due to this pyuff supports only double (it

[2018-11-13 09:05] dsholes commented on #20
Hi @jankoslavic,

Thank you for looking into it. Unfortunately I am not familiar with proper formatting of UFF files. If you believe that the issues I described are formatting issues with the file itself, then you can close this issue.

I imagine this is a very particular case, perhaps only related to this SignalStar Scalar software. It is commercial software, however, so others may encounter a si

[2018-11-13 09:12] jankoslavic commented on #20
Hi @dsholes thank you for understanding; I will close this issue and maybe we will come back to it later.

[2018-11-13 09:12] #20 closed

[2019-03-02 13:04] Fesert2017 commented on #20
Hello,

I would like to recover this topic. I found the same issue when reading a *.uff file. The last line of certain sets contains space characters and this leads to a UFFException. I am not sure what is the software used to ouput this data but that is something that I can consult.

Here is the code example:

[example_error.zip](https://github.com/openmodal/pyuff/files/2922091/example_error.zip)

[2019-03-03 07:15] jankoslavic commented on #20
Hi @Fesert2017 !

I have checked the uff file you provided. It is single precision file (e.g. 5.01443E-01). I would not suggest using such bad precision; the pyUFF development is focused on double-precision.

Please check if you can export to double precision. If you are not able to do so, I suggest to use the `rstrip` solution above.

I hope this helps you.

[2019-03-03 09:45] Fesert2017 commented on #20
Hi @jankoslavic ,

Thank you very much for your prompt response !! I would suggest my supplier to export data with double precision and in the mean time I will implement the `rstrip` solution. If I find out another possible error handling solution I will let you know. Regards !

[2019-03-28 11:26] PapaTim68 opened #21 "uff files written and read back in do not match content"
If a uff file is written using this module with this dict as part of the input list:
[code]
the file generated for this item looks like this:
[code]
NOTE: The 7th line is longer than the others and also longer than the 80chars that it is supposed to be.
if the uff file is read back in a different dict entry is generated for this item:
[code]
So the Problem is that the second entry should match the

[2019-03-28 14:17] jankoslavic commented on #21
Dear @PapaTim68 can you please prepare a snippet file and I will try to figure out what is going on.

[2019-03-28 16:21] PapaTim68 commented on #21
Here is an examaple script note that the module is modified a little bit in order to support function type 12
which shouldnt interefere with this
[pyNastran-master.zip](https://github.com/openmodal/pyuff/files/3019063/pyNastran-master.zip)

[2019-03-29 11:50] jankoslavic commented on #21
Hi @PapaTim68! I ask you for a snippet:
https://en.wikipedia.org/wiki/Snippet_(programming)
This means minimal code to reproduce your problem.

[2019-03-29 11:52] PapaTim68 commented on #21
Yeah that is technically what that code does ...

[2019-05-16 12:32] PapaTim68 opened #22 "Data len longer then defined in num_pts"
If a file is formated with two data columns in one 58-type set and the number of data points is an odd number, some programms will fill up the block with a zero entry.
This results in an inconsitency when those Files are read in by this package.
The number of datapoints as defined in "num_pts" is lower than the length of the "data".
My question or request is now is this intended or an oversight of

[2019-05-18 20:13] jankoslavic commented on #22
The demo_file is written as complex with single precision and uneven spacing of the abscissa axis.

The data lines are read in (format of the line is 6E13.5):
https://github.com/openmodal/pyuff/blob/a948cb29da99dc3dabc6459f5edeabe02f7965f4/pyuff.py#L1358
the data is decomposed into the abscisa axis at line:
https://github.com/openmodal/pyuff/blob/a948cb29da99dc3dabc6459f5edeabe02f7965f4/pyuff.py#L

[2019-05-23 07:02] PapaTim68 commented on #22
Each dataset is formatted to have two columns of entrys each with 3 values, so in total 6 values per line.
This seems not to be the root Problem here since the file below also Shows the descriped Error.
[code]

[2019-05-23 07:39] jankoslavic commented on #22
This is not ok; the second example is mixing singe and double precision. Please check out uff specification. In any case, you should avoid using software that uses single precision. This is very inaccurate and due to this pyuff supports only double (it can read single, but writes always double).

[2019-05-23 07:39] #22 closed

[2019-05-27 08:11] niels4911 opened #23 "writing of 58 dataset, n_bytes should be multiplied by 2 for real valued dataset"
In pyuff version 1.20, pyuff.py line 892,
nBytes = numPts * 4 should be changed to
nBytes = numPts * 8,

because ord_data_type = 4 is double precision

[2019-05-27 10:05] jankoslavic commented on #23
This makes sense!
https://github.com/openmodal/pyuff/blob/a948cb29da99dc3dabc6459f5edeabe02f7965f4/pyuff.py#L878

it looks like the current binary test files are ord_data_type=2 and this error was not detected. @niels4911 can you please provide a snippet test file for testing?

[2019-05-27 10:39] niels4911 commented on #23
I'm kind of a newbee can you provide some info on how to this?

[2019-05-27 14:15] jankoslavic commented on #23
You can send the snippet uff file to me via email :)

[2019-05-28 04:09] niels4911 commented on #23
OK here is a script that writes a binary uff, read it back and checks the n_bytes

[write_uff_test_nbytes.zip](https://github.com/openmodal/pyuff/files/3225632/write_uff_test_nbytes.zip)

[2019-06-03 06:05] jankoslavic commented on #23
It took me few days to come back to this issue... there were additional changes required. it should work now and all the test are passing.

The commit:
https://github.com/openmodal/pyuff/commit/05ebdffdf739f88bb521409164ee6c097e730447

@niels4911 can you please double check before I send it to pypi?

[2019-06-04 03:33] niels4911 commented on #23
I have tried the new version, nbytes are now as expected.

problem fixed. Thanks!

[2019-06-04 04:27] #23 closed

[2019-07-20 20:40] #21 closed

[2019-09-18 12:12] nilswagner opened #24 "Test function for dataset 55 i.e. pyuff.prepare_test_55()"
A test function for dataset 55 is currently missing in pyuff.

[2019-09-18 14:15] nilswagner commented on #24
https://github.com/openmodal/pyuff/pull/25

[2019-09-18 14:42] nilswagner commented on #24
A separate test like test_15.py or test_58.py and a corresponding *.uff within the data directory of pyuff would be nice.

[2019-09-19 18:30] jankoslavic commented on #24
Hi @nilswagner this is a great proposal. Thanks. I can help implement it.

[2019-09-26 09:08] nilswagner commented on #24
https://github.com/openmodal/pyuff/pull/26#issuecomment-535402305

[2019-09-27 06:43] nilswagner opened #27 "Support of additional datasets, i.e. 2411, 2412, 2420"
The current dataset for coordinate systems (obsolete is 18) is
http://sdrl.uc.edu/sdrl/referenceinfo/universalfileformats/file-format-storehouse/universal-dataset-number-2420

As a result of surface measurements it might be useful to support
http://sdrl.uc.edu/sdrl/referenceinfo/universalfileformats/file-format-storehouse/universal-dataset-number-2412

The current dataset for nodes (obsolete is 15

[2019-09-28 18:26] jankoslavic commented on #27
This would be nice to have! Anyone prepared to take on this issue?

[2019-10-03 04:45] jankoslavic commented on #24
in the version 1.22 this issue is resolved

[2019-10-03 04:45] #24 closed

[2019-10-04 09:58] nilswagner opened #28 "Computation of real normal modes from complex eigenvectors"
@jankoslavic

Details are given in the papers by

S. R. Ibrahim
Computation of Normal Modes from Identified Complex Modes
AIAA JOURNAL, VOL. 21, NO. 3

and

Ulrich Fuellekrug
Computation of real normal modes from complex eigenvectors
Mechanical Systems and Signal Processing 22 (2008) 57–65

[2019-10-04 11:41] jankoslavic commented on #28
This looks more a modal identification issue. I would suggest to add this to pyema.
If modal parameters are identified, the pyema can have a method to conversion..

Can you please open it there?
https://github.com/ladisk/pyEMA/issues/new

Janko

[2019-10-04 12:41] nilswagner commented on #28
Done.

[2019-10-04 12:41] #28 closed

[2020-05-07 16:59] mglesser opened #29 "Import time histories with number of points not multiple of 6 raise error"
.uff files of time histories with number of points that is not a multiple of 6, have a last line with 1 to 5 values only for each dataset. When trying to read such a file an error is raised at line 1367 of pyuff.py. It is caused by "float" trying to convert an empty string to float.

A quick (but potentially ugly, I'm far from a Python expert) fix is to replace line 1367 by:

[code]

[2020-05-07 19:34] jankoslavic commented on #29
DEar Martin!

Could you please provide also a test file, so it can be added to tests?
REgards,
Janko

[2020-05-07 19:35] #9 closed

[2020-05-07 19:36] jankoslavic commented on #27
Dear @nilswagner ! I looks like there is no interest for this issue; I will close it for now.

[2020-05-07 19:36] #27 closed

[2020-05-11 07:52] mglesser commented on #29
Dear Janko,
Please find below a .uff file that can be used to reproduce the issue. I took a better look to the file and it seems that the issue comes from the fact that the software used to generate the .uff filled the last non-full data line with white spaces.
Best regards,
Martin

[time-history.zip](https://github.com/openmodal/pyuff/files/4608104/time-history.zip)

[2020-05-12 18:05] jankoslavic commented on #29
Dear Martin! I implemented a slightly numerically better implementation:
[code]
it is on pypi. please upgrade

[2020-05-12 18:05] #29 closed

[2020-05-13 07:23] mglesser commented on #29
Thanks a lot, Janko

[2020-09-10 06:16] JonathanArandaEC opened #30 "Handling UFF58 files in OpenModal"
Hi, I'am a student of mechanical engineering. Congratulations for the project. If you load only accelerance data, how does OpenModal obtain the FRF in units of Newtons ((m/s2)/N)?
Thanks.

[2020-09-10 06:21] jankoslavic commented on #30
Hi @JonathanArandaEC! This are issues about pyUFF:) The units should be properly handled if you use OM also for measurements, if you are importing data via uff, then you relly on uff data structure. Hope this helps.

[2020-09-10 06:36] JonathanArandaEC commented on #30
Hi! I am working on a project, and I am importing  accelerance data via UFF (I can't measure the input force), with the purpose of obtain the modes shapes of a beam. However, OpenModal Shows the FRF with units of Newtons.

Thanks for your time an help!

[2021-01-20 10:18] ziadrida opened #31 "ValueError: could not convert string to float"
I get "ValueError: could not convert string to float: '000E+00  5.460279062'"
  1377                             [float(line[13 * (i + j) + 20 * (i):13 * (i + 1) + 20 * (i + j)]) \
-> 1378                              for i in range(len(line) // 33) for j in [0, 1]])

Error is in this block of the UFF file

v2;38868
RML-03M4071-20170104-CYC-00003
20-07-24T07:23:45Z
38868-VE003
NacXdir.ISOA-21[0.1-

[2021-01-20 10:46] jankoslavic commented on #31
Dear @ziadrida ! I have not checked the details, but it looks like your file is not up to specifications. Length specification is: E13.5,E20.12) while your data looks to be 2x19 characters long

[2021-01-20 11:17] ziadrida commented on #31
thanks for the quick respose.
[Archive.zip](https://github.com/openmodal/pyuff/files/5841987/Archive.zip)

Here is a file that will fail. If I change the abscissa_spacing value from 0 to 1 it will work.
t1.uff fails
t2.uff works

[2021-01-20 11:28] ziadrida commented on #31
If I understand you response, when the abscissa_spacing is 0, the columns should be (E13.5, E20.12).
Which case is this in here https://svibs.com/uff-data-set-number-58/ ?

[2021-01-20 12:34] ziadrida commented on #31
@jankoslavic, was there a change to the specification such that if we use an older version we can read the files? These files are being generated by CMS sensors, so it would be hard for us to modify them. best regards.

[2021-01-20 13:17] jankoslavic commented on #31
The data should match the header; here it does not. The specifications did not change for 30+ years :D. However, prior to approx 2 years ago pyuff, separated values by spaces (as this was wrong and not according to specifications, we have changed it)

[2021-01-27 17:59] AndreaBres opened #32 "ValueError: could not convert string to float: '1.00000000000000000D+00'"
Hello,

I am having some issues while trying to read the file below.  The traceback is

  File "C:\Users\w4nqvt\Anaconda3\lib\site-packages\pyuff.py", line 431, in read_sets
    dset.append(self._read_set(ii))

  File "C:\Users\w4nqvt\Anaconda3\lib\site-packages\pyuff.py", line 539, in _read_set
    dset = self._extract2420(blockData)

  File "C:\Users\w4nqvt\Anaconda3\lib\site-packages\pyuff.py",

[2021-01-28 06:46] jankoslavic commented on #32
Dear @AndreaBres your data does not look to meet the UFF standard.

[2021-01-28 10:41] AndreaBres commented on #32
Thanks a lot for the hint. Do you have any idea regarding the reason why block 2411 is not read after substituting all the 'D' with 'E'? Are the standards met with this modification?

Thanks in advance
Andrea

``

    -1
   151
Unknown
Unknown
NX: Advanced Simulation
Unknown   Unknown            0         0         0
Unknown   Unknown
NX: Universal Importer/Exporter
27-Jan-21 16:19:36      0    0

[2021-01-28 13:45] jankoslavic commented on #32
Dear @AndreaBres it would help if you could pinpoint the minimal problem!
(Please add the minimal data which is now working.)
the conversion is not a problem float('1.0000000000000000e+02')

[2021-01-28 14:37] AndreaBres commented on #32
Here it is! The final block is not read.

[code]

[2021-01-28 16:47] AndreaBres commented on #32
A (ugly) solution could be to substitute line 356-361
[code]
with
[code]

[2021-01-29 06:56] jankoslavic commented on #32
Dear @AndreaBres ! this is a know uff issue. "    -1" to start/end a block and therefore no data should have this exact pattern. Your ugly fix only works for your file, but it is not general due to:
in text files, the line should be 80char long and therefore most files are like this:
    -1 ... banks up to ch 80 then \n
but, some are also like this
    -1\n
in binary files it looks like this:
bits

[2021-01-29 10:51] AndreaBres commented on #32
I am not sure to have understood your point: actually, my files don't have blanks up to char 80, but there is a \n just after the -1 and it is working fine. I am doing the check on the character before the pattern "    -1", not after: basically I asking if the pattern found is the start of a new line (which should always be the case!). If yes, it means that is the start/end of a block.

I don't ne

[2021-01-29 11:26] jankoslavic commented on #32
Dear Andrea!
Please look at the files in data (those are the testing files we received from different contributors). There you will see that the -1 does not always end with \n. Your hack cannot be generalized to all use cases.

For 2412: I  would suggest to open a new issue and if you would prepare a pull request then I will try to continue from there.

ttys, Janko

[2021-01-29 12:39] #32 closed

[2021-03-16 16:48] mglesser opened #34 "Dataset 2412 handling"
Dear contributors,
I've noticed that dataset 2412 is supported in pyuff but is actually scanned as a dataset 15. At least in the file I'm dealing with (I hope it is not too exotic), dataset 2412 corresponds to mesh elements rather then points and should be handled differently.

In the project I'm working for, I will have to handle dataset 2412 as elements. I'm considering to do it in a fork of pyu

[2021-03-16 17:18] jankoslavic commented on #34
Sure, please go on; you can count on my support. Regards.

[2021-03-18 08:42] jankoslavic commented on #34
This is now implemented:) thanks @mglesser

[2021-03-29 13:07] kdegrendele opened #37 "Dataset 2414 handling"
Hi, I need to integrate DS2414 (write and read).
So I plan to do it on my fork. I will make a pull request ASAP.

[2021-03-29 13:08] jankoslavic commented on #37
Great @kdegrendele you are welcome and can count on my support!

[2021-03-29 15:07] mglesser commented on #34
For me everything is solved. Thanks @jankoslavic for the support. Please reopen the issue if anything happens.

[2021-03-29 15:07] #34 closed

[2021-04-30 13:36] sveselinovic opened #38 "Binary 58b can't be read, every other program can"
Hi,

I have some .uff files in binary and non-binary format, exported from the same program. The binary 58b blocks cannot be read, while the 58 can. I can read the binary files without any problems in MATLAB and Siemens TestLab. Is pyuff erronous or the programs uff exporter? I have uploaded the file. The error does not tell me much except that it can't be read. Other blocks like the two headers c

[2021-05-03 06:02] jankoslavic commented on #38
Dear @sveselinovic ! can you please share a sort shipped how do you import the dataset?

[2021-05-06 12:34] sveselinovic commented on #38
In the (I think?) simplest way, I read the uff file and then read all data sets.

[code]

It also happens when reading a single 58b data set (i.e. the 10th).

[2021-05-12 06:54] Gruvington opened #40 "Parsing for ' -1' tags"
Hi,

I noticed that the parsing for '    -1' tags can cause erroneous behaviour.

The particular case I encountered was when 'rsp_node' value in the UFF was equal to -1. The number of empty spaces before the -1 was sufficient to cause the rsp_node to be recognised as a '    -1' tag.

I'm not sure if the UFF file format prohibits -1 values or if this could occur at other header items that have a va

[2021-05-12 07:06] jankoslavic commented on #40
@Gruvington thank you for this message. We are aware of this problem (https://github.com/openmodal/pyuff/issues/9), but I see no easy solution. Having -1 in rsp_node is not a good idea:(

[2021-05-12 07:22] jankoslavic commented on #38
@sveselinovic I have checked your data.
the error is in the line (https://github.com/openmodal/pyuff/blob/5586224dce193b65867c65877d2408391fb788e0/pyuff.py#L1428):
values = np.asarray(struct.unpack('%c%sd' % (bo, int(len(split_data) / 8)), split_data), 'd')

where the `split_data` has the content:
`...\xcf x\xb4u\xb6\xb6?\n`
the additional `\n` should not be there as far as I am aware (and is not

[2021-05-12 20:40] Gruvington commented on #40
Thanks for the very quick response. And apologies I did not see the that you had already identified the issue - I am new to github. I can see how the issue is complicated by the parsing of binary formatted files.

[2021-05-13 03:18] jankoslavic commented on #40
Thank you for understanding. I will close this issue.

[2021-05-13 03:18] #40 closed

[2021-05-31 13:19] sveselinovic commented on #38
@jankoslavic thank you for your help, we will look into fixing our export.

[2021-05-31 13:19] #38 closed

[2021-06-01 06:00] nilswagner commented on #37
This is a very useful extension.

[2021-06-01 06:22] jankoslavic commented on #37
We have a pull request in progress: https://github.com/openmodal/pyuff/pull/39
There is just one issue which needs to be resolved. Hopefully soon. Help would be appreciated.

[2021-06-14 10:15] jankoslavic commented on #37
Thank you @kdegrendele this is a great PR!!!

[2021-06-14 10:15] #37 closed

[2021-06-14 10:16] #31 closed

[2021-06-14 10:16] #30 closed

[2021-06-15 11:07] klemengit opened #41 "BUG: formatting Record 12 in dataset 2141"
The formatting doesn't seem correct in the following lines:
https://github.com/ladisk/pyuff/blob/c2887be54361eccf87beb4f4fb61ed68f3f634e9/pyuff.py#L1110
https://github.com/ladisk/pyuff/blob/c2887be54361eccf87beb4f4fb61ed68f3f634e9/pyuff.py#L1117

These appear to correspond to Records 12 and 13 of the dataset 2141, where the format should be ``6E13.5`` for both.

I think the correct formatting woul

[2021-06-15 12:21] jankoslavic commented on #41
Thanks for this observation. I agree; @klemengit will you prepare a PR?

[2021-06-16 09:37] klemengit opened #43 "BUG: extract for dataset 2411 is same as for 15"
Method ``_extract2411`` is the same as for the ``_extract15``:
https://github.com/ladisk/pyuff/blob/db1faf11e92021cc4b7b354badfb7cbb158e4fd2/pyuff.py#L1183

Method for reading dataset 2411 currently doesn't exist.

[2021-06-16 09:41] jankoslavic commented on #43
we are also missing test data.

[2021-06-18 09:09] nilswagner opened #46 "uff_file.get_set_types() returns float values"
IMHO,

`uff_file = pyuff.UFF(uff)
print (uff_file.get_set_types())`

should return integer values and not floats

`[  15. 2412.   55.   55.   55.   55.   55.   55.   55.   55.   55.   55.
   55.   55.   55.   55.]
`

[2021-06-18 09:11] jankoslavic commented on #46
Agree! :) Volunteer required.

[2021-06-18 09:30] nilswagner commented on #46
#47

[2021-06-18 09:33] jankoslavic commented on #46
Thanks @nilswagner

[2021-06-18 09:33] #46 closed

[2021-07-07 08:11] jasasonc opened #50 "BUG: dataset 2420, read and write keys are not the same"
The keys in output dictionary when reading dataset 2420  are different from expected keys when writing this set.

https://github.com/ladisk/pyuff/blob/202f0d33977d1f8e0ef3795c2f275b9e40657c54/pyuff/datasets/dataset_2420.py#L31

https://github.com/ladisk/pyuff/blob/202f0d33977d1f8e0ef3795c2f275b9e40657c54/pyuff/datasets/dataset_2420.py#L8

Similar issue is present in dataset 2411. Partially connect

[2021-07-12 07:29] nilswagner commented on #43
Test data for dataset 2411 and 2414
[tulay_01.unv.gz](https://github.com/ladisk/pyuff/files/6799407/tulay_01.unv.gz)

[2021-07-12 12:12] jankoslavic commented on #43
@nilswagner thank you for the file. I have uploaded the file. We need help in implementing the extraction 4211.

[2021-07-20 06:34] Sunshinera opened #52 "(UFF58 file)ValueError: could not convert string to float: '000E+00 0.000000000'"
Hi,
When I use the statements like:
_data = uff_file.read_sets()
data.items()
print(data.items())_

I have got the error as:
 _File ".site-packages\pyuff.py", line 1562, in _extract58
    [float(line[13 * (i + j) + 20 * (i):13 * (i + 1) + 20 * (i + j)]) \
  File ".site-packages\pyuff.py", line 1562, in <listcomp>
    [float(line[13 * (i + j) + 20 * (i):13 * (i + 1) + 20 * (i + j)]) \
ValueError: c

[2021-07-21 04:30] jankoslavic commented on #52
The data does not look ok. With regard to the header there should be uneven data (double precision)
real      double       uneven     2(E13.5,E20.12)

Does this help you?

[2021-07-23 09:30] Sunshinera commented on #52
Thanks a lot!

[2021-07-23 09:30] #52 closed

[2021-11-09 10:02] zinebzahar1997 opened #53 "New feature to create dataset 82 for element connectivity"
We would like to convert dataset 2412 which define elements connectivities  to dataset 82. We are developping the feature.

[2021-11-09 10:14] jankoslavic commented on #53
This is great. Please prepare a PR; you can count on my support.

[2021-11-24 15:47] ziadrida opened #56 "object has no attribute '_refresh'"
method in this block calls _refresh() which does not exist

     if not self._refreshed:
            if not self._refresh():
                raise Exception('Cannot read from the file: ' + self._filename)

[2021-11-29 05:08] klemengit commented on #56
It seems that with the restructuring of the package a this method name remained unchanged (now it should be `self.refresh()`). I'll make sure that that's the case and make a PR.

[2021-12-03 10:13] nilswagner opened #58 "Bug in dataset_15.py"
The blank line should be removed. #57

[2021-12-29 13:24] jankoslavic commented on #56
just a reminder on this open issue

[2021-12-29 13:25] jankoslavic commented on #53
This is done!
https://github.com/ladisk/pyuff/pull/55

[2021-12-29 13:25] #53 closed

[2021-12-29 13:26] jankoslavic commented on #50
@jasasonc is this still an issue?

[2021-12-29 13:30] jankoslavic commented on #43
This issue can be closed; both datatypes and tests are implemented!

[2021-12-29 13:30] #43 closed

[2021-12-29 13:31] jankoslavic commented on #58
Done! Thank you @nilswagner !

[2021-12-29 15:19] jasasonc commented on #50
Yes.
`write2420` requires keys: `part_UID`, `part_name`, `cs_type`, `cs_color`, `nodes`
`extract2420` creates keys: `Part_UID`, `Part_Name`, `CS_sys_labels`, `CS_types`, `CS_colors`, `CS_names`, `CS_matrices`

[2021-12-29 15:28] jankoslavic commented on #50
Dear @jasasonc  thank you!

I see!
The extract2420 follows the datatype specifications available here: https://www.ceas3.uc.edu/sdrluff/view.php
We have a partial test here:
https://github.com/ladisk/pyuff/blob/master/tests/test_2420.py

We need help in handling this issue and also a real dataset.

[2021-12-30 09:04] #56 closed

[2021-12-30 09:04] jankoslavic commented on #56
Thanks @klemengit

[2022-01-26 14:13] hdemontis opened #60 "Error in Exception"
Hi everyone,

- Windows 10
- Python version : 3.9.7
- `pyuff` version : 2.0

After installing `pyuff`, launching my script raise this :
[code]

Trying to replace by
[code]
seems to work.

Thanks,

[2022-01-26 14:19] hdemontis opened #61 "Problem in reading binary UFF (or UFB)"
Hi everyone,

- Windows 10
- Python 3.9.7
- `pyuff` version : 2.0

I experience issues when opening and reading datasets stored in a binary UFB file. This show me the following error :
[code]

My UFB file can be accessed using this toolbox in Matlab : https://fr.mathworks.com/matlabcentral/fileexchange/70464-uff-file-reading-and-writing
Is someone have this problem too ? Any way to get around ?

T

[2022-01-26 18:47] jankoslavic commented on #61
Dear @hdemontis can you please provide the minimal code to reproduce the error?

[2022-01-26 18:47] jankoslavic commented on #60
Dear @hdemontis. Thank you for the suggestion on how to solve the problem. Can you please provide the minimal code to reproduce the error?

[2022-01-28 09:38] hdemontis commented on #60
Hi,
Of course :
[code]
Many thanks,

[2022-01-28 09:38] hdemontis commented on #61
Hi,
[code]

[2022-01-28 10:58] jankoslavic commented on #61
ps: please add the file where you have problems.

[2022-02-24 10:49] kdegrendele opened #62 "New feature to handle time data with DS2414"
Hello, I have created a fork on which I plan to add an analysis_type of 4 (and not only 5) to handle time signals.
Thank you

[2022-02-24 11:26] jankoslavic commented on #62
Thanks for the update; looking forward to see the implementation. If you will need help with pr, you can count on me.

[2022-02-25 06:32] jankoslavic commented on #61
Is this issue still relevant? @hdemontis can you please provide the test file?

[2022-02-25 06:32] jankoslavic commented on #60
Is this issue still relevant? @hdemontis can you please provide the test file?

[2022-02-25 06:32] #58 closed

[2022-06-03 08:57] LeonDpl opened #63 "Init UFF class with UploadedFile (Streamlit)"
Trying to use [streamlit file uploader](https://docs.streamlit.io/library/api-reference/widgets/st.file_uploader) to load and manipulate uff file with pyuff

Would like to know if there is some possibility to init UFF class with UploadedFile type ?

Currently doing:

[code]

And getting the following error

[code]

Streamlit v1.10,
pyuff v1.25

Regards
David

[2022-06-03 10:59] jankoslavic commented on #63
Dear @LeonDpl Can you prepare a PR?

[2022-07-21 21:31] Albert-Alarcon commented on #61
Hi everyone,

i'm experiencing a similar problem when reading a binary dataset58 file.  Below's the raised error. Any idea?

Thanx for your help!

[code]

[2022-07-22 05:22] jankoslavic commented on #61
It looks like you have an empty field. @Albert-Alarcon please provide minimal code to reproduce your error.

[2022-07-22 07:23] Albert-Alarcon commented on #61
Thanks for your answer @jankoslavic
here's the very simple code

[code]

You'll find attached the test file (note that I have changed the extension to .txt so github accepts to upload the file)
[20220412_105038.txt](https://github.com/ladisk/pyuff/files/9165586/20220412_105038.txt)

Thanks again for your help!

[2022-07-25 09:42] jankoslavic commented on #61
Dear @Albert-Alarcon !
The header in your file:
`    -1
    58b     1     2          11     1048576     0     0           0           0
B602_Parc Equipements;GU Fessenheim;VGL G2;20220412_105038;
Puissance Active MW = 9.75;
Puissance Réactive MVAR = 1.99;
De 1 à 60% Pmax;
T-5.12 kHz-256K (MVP;
    1         0    0         0 TT_SIGN            1   0 NONE               0   0
         2    262144

[2022-07-27 08:07] Albert-Alarcon commented on #61
Thanks for the answer @jankoslavic  !
I'm going to check with the software developpers to solve this export.
Do you know which field is incorrect regarding to the 58 datafile specs?

[2022-07-27 12:22] jankoslavic commented on #61
It looks like the header is not properly divided with newlines.

[2022-11-15 07:22] theScriptingEngineer opened #64 "Error reading dataset 2414"
Hello,

when reading the sets in the example file '2411 and 2414.uff' an error occurs.

In order to reproduce:
[code]
Records 14 and 15 are repeated for each node, but I don't see this reflected in the code.

Thanks,
Frederik

[2022-11-24 12:23] jankoslavic commented on #64
Please check:
https://github.com/ladisk/pyuff/tree/2411-tests
ttys

[2022-11-28 08:13] theScriptingEngineer commented on #64
I traced the error to the _D_ notation of the exponent. The python function _float_ does not support this, only the letter e as an exponent.
I have fixed it in my fork of the project: FEASupport branch.
I believe there is an option to perform a pull request from my fork back to the original project.
[pyuff with added support for reading dataset 2414](https://github.com/theScriptingEngineer/pyuff)

[2022-11-28 08:21] theScriptingEngineer commented on #62
Hello @kdegrendele,
I have implemented a more general support for dataset 2414. I supports dataset_location 1/2/3.
I have kept the special treatment of _analysis_type==5_ in order not to break the existing code.

you can find it on: [FEASupport branch](https://github.com/theScriptingEngineer/pyuff/tree/FEASupport)

Regards,
Frederik

[2022-11-28 08:55] #64 closed

[2022-11-28 13:45] jankoslavic commented on #64
Ok. I will close this issue. The current implementation is maybe not perfect with regard to speed. Proposals welcome